* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.header {
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  position: relative;
  padding: 1rem;
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
}

@media (min-width: 992px) {
  .header {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (70px)[2];
        grid-template-rows: repeat(2, 70px);
  }
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 768px) {
  .nav {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .nav {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -ms-grid-row: 2;
    grid-row: 2;
    grid-column: 1/-1;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav.show {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.nav__item {
  background: #fff;
  list-style: none;
}

.nav__link {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1.25rem 1rem;
  display: block;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #ccc;
  color: #303030;
}

@media (min-width: 992px) {
  .nav__link {
    font-size: 1.6rem;
    border: none;
  }
  .nav__link:hover {
    text-decoration: underline;
  }
}

.nav__link--extra {
  color: red;
}

@media (min-width: 992px) {
  .nav-drop:hover > .nav-drop__list {
    display: block;
  }
}

.nav-drop__list {
  display: none;
}

.nav-drop__list.show {
  display: block;
}

@media (min-width: 992px) {
  .nav-drop__list.show {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-drop__list {
    position: absolute;
  }
}

.nav-drop__item {
  background: #f0f0f0;
}

.nav-drop__link {
  padding-left: 2rem;
  font-size: 1.3rem;
}

.nav-drop__icon {
  margin-left: 1.5rem;
  font-size: 1rem;
  background: #e7e7e7;
  padding: 0.4rem;
  display: inline-block;
}

@media (min-width: 992px) {
  .nav-drop__icon {
    background: transparent;
    margin-left: .2rem;
    display: inline-block;
  }
}

.nav-icon {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .nav-icon {
    grid-column: 5/-1;
  }
}

.nav-icon__cart, .nav-icon__wishes, .nav-icon__login {
  margin-left: 1.8rem;
}

.nav-icon__cart i, .nav-icon__wishes i, .nav-icon__login i {
  display: block;
  font-size: 2rem;
  padding: 0.5rem;
}

.nav-icon__cart a, .nav-icon__wishes a, .nav-icon__login a {
  font-size: 1.1rem;
  color: #000;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-icon__cart a, .nav-icon__wishes a, .nav-icon__login a {
    font-size: 1.2rem;
  }
}

.nav-icon__cart a:hover, .nav-icon__wishes a:hover, .nav-icon__login a:hover {
  color: #525252;
}

.logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 110px;
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  height: auto;
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  .logo {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    margin: 0 auto;
  }
}

.search-form {
  position: relative;
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 2;
  grid-row: 2/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .search-form {
    grid-column: 5/-1;
  }
}

@media (min-width: 992px) {
  .search-form {
    grid-column: 6/-1;
  }
}

.search-form__input {
  font-family: inherit;
  font-family: inherit;
  border: none;
  padding: 0.7rem 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 1px solid #191a19;
}

.search-form__button {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  margin-right: 1rem;
  border: none;
  background: transparent;
  font-size: 1.6rem;
}

.search-form__button:focus {
  outline: none;
}

.burger {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  grid-row: 2/2;
  position: relative;
  display: block;
  width: 60px;
  height: 45px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
}

.burger__label {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  display: block;
  margin-top: 2rem;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .burger__label {
    font-size: 3.8rem;
  }
}

.burger .line {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #2b2727;
  left: 0;
  -webkit-transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s, -webkit-transform 0.2s 0.4s;
  transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s, -webkit-transform 0.2s 0.4s;
  transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s, transform 0.2s 0.4s;
  transition: top 0.2s 0.2s, bottom 0.2s 0.2s, opacity 0.2s 0.2s, transform 0.2s 0.4s, -webkit-transform 0.2s 0.4s;
}

.burger .line:nth-child(1) {
  top: 0;
}

.burger .line:nth-child(2) {
  top: calc(50% - 4px);
  width: 75%;
}

.burger .line:nth-child(3) {
  bottom: 0;
}

.burger.active .line:nth-child(1) {
  top: calc(50% - 4px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active .line:nth-child(2) {
  top: calc(50% - 4px);
  opacity: 0;
}

.burger.active .line:nth-child(3) {
  bottom: calc(50% - 4px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.banner {
  position: relative;
  height: 20vh;
  overflow: hidden;
}

@media (min-width: 768px) {
  .banner {
    height: 30vh;
  }
}

.banner__title {
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 1rem;
  text-align: center;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .banner__title {
    top: 50%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 2.5rem;
    padding: 2rem;
  }
}

.banner__img {
  width: 100%;
  height: auto;
}

.offer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

@media (min-width: 768px) {
  .offer {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.offer__title {
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 1px 2px 1px #1d1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  padding: 1rem;
}

@media (min-width: 768px) {
  .offer__title {
    font-size: 2rem;
  }
}

.offer__title--light {
  font-size: 1.3rem;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .offer__title--light {
    font-size: 1.5rem;
  }
}

.offer img {
  height: 100%;
  width: 100%;
}

.offer__item1, .offer__item2, .offer__item3, .offer__item4, .offer__item5, .offer__item6 {
  position: relative;
  overflow: hidden;
}

.offer__item1:hover, .offer__item2:hover, .offer__item3:hover, .offer__item4:hover, .offer__item5:hover, .offer__item6:hover {
  opacity: 0.8;
}

.offer__item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media (min-width: 768px) {
  .offer__item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.offer__item2 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media (min-width: 768px) {
  .offer__item2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
}

.offer__item3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  grid-row: 2;
}

@media (min-width: 768px) {
  .offer__item3 {
    grid-column: 5/-1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.offer__item4 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 2;
  grid-row: 2;
}

@media (min-width: 768px) {
  .offer__item4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.offer__item5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  grid-row: 3;
}

@media (min-width: 768px) {
  .offer__item5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.offer__item6 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 3;
  grid-row: 3;
}

@media (min-width: 768px) {
  .offer__item6 {
    grid-column: 5/-1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.new-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.new-product__heading {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 5vh;
  color: #866c2a;
  text-transform: uppercase;
  font-weight: 400;
}

@media (min-width: 768px) {
  .new-product__heading {
    font-size: 2.5rem;
  }
}

.how-we-do {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

@media (min-width: 768px) {
  .how-we-do {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__icon {
  font-size: 1.8rem;
  display: block;
  color: #866c2a;
}

.service__title {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #866c2a;
}

.footer {
  background: #272727;
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2vh;
}

.contact {
  width: 30%;
}

@media (min-width: 992px) {
  .contact {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__list {
  list-style: none;
  margin: 0.5rem;
}

.contact__title {
  text-transform: uppercase;
  color: #866c2a;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .contact__title {
    font-size: 1.4rem;
  }
}

.contact__link {
  color: #b4b4b4;
  text-decoration: none;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .contact__link {
    font-size: 1.2rem;
  }
}

.contact__link:hover {
  text-decoration: underline;
}

.contact__icon {
  margin-right: .2rem;
}

@media (min-width: 768px) {
  .contact__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
}

.product__item {
  width: 48%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  position: relative;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

@media (min-width: 768px) {
  .product__item {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .product__item:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.product__title {
  text-transform: uppercase;
  color: #000;
  font-weight: lighter;
  text-align: center;
  font-size: 1.3rem;
  width: 80%;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .product__title {
    width: 70%;
  }
}

.product__img {
  height: 100px;
  max-width: 100%;
}

.product__price {
  font-weight: bold;
  font-size: 1.7rem;
  color: #866c2a;
}

.product__price--max {
  font-weight: lighter;
  font-size: 1.4rem;
  color: #5e5a50;
  text-decoration: line-through;
}

.product__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
/*# sourceMappingURL=style.css.map */